.App {
  font-family: sans-serif;
  text-align: center;
}

button {
  background-color: #7856c1;
  color: #fff;
  padding: 5px;
  width: 75px;
  margin: 0px;
  border-radius: 15px;
  border: none;
}

.Placar {
  width: 30%;
  display: inline-block;
  flex: inline-block;
}

.x {
  font-family: sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 700%;
  margin: -28px;
  margin-top: 14px;
  position: absolute;
  color: darkgray;
}

.inc {
  background-color: #0f3ed8;
}

.dec {
  background-color: #d80f0f;
}
